* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ececec;
    font-size: 35px;
    font-family: 'Aldrich', sans-serif;
}

.container-principal {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(145deg, #d4d4d4, #fdfdfd);
    box-shadow:  18px 18px 36px #bdbdbd,
             -18px -18px 36px #ffffff;
    padding: 25px;
    border: 4px solid #ececec;
}

.container {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: linear-gradient(145deg, #fdfdfda2, #d4d4d4);
box-shadow:  18px 18px 36px #bdbdbd,
             -18px -18px 36px #ffffff;
    padding: 147px;
}

.container .tiempo {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.container .tiempo span {
    padding: 0 5px;
}

.container .tiempo span.seg {
    color: #FD1F4A;
}

img {
    width: 30px;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(145deg, #ffffff, #e4e3e2);
    box-shadow: 20px 20px 60px #d7d6d5,
        -20px -20px 60px #ffffff;
    margin: 5px;
    padding: 4px;
}

button:hover {
    background: linear-gradient(145deg, #e4e3e2, #ffffff);
    box-shadow: 20px 20px 60px #d7d6d5,
        -20px -20px 60px #ffffff;
}

button.active,
button.stopActive {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    pointer-events: none;
}

button.active>img,
button.stopActive>img,
button:active>img {
    pointer-events: none;
    filter: invert(30%) sepia(95%) saturate(5450%) hue-rotate(337deg) brightness(100%) contrast(99%);
}

.container .botones {
    display: flex;
    margin-top: 25px;
}

.circulo {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, hsla(348, 100%, 73%, 1) 0%, hsla(348, 98%, 56%, 1) 53%, hsla(348, 76%, 43%, 1) 100%);
    border-radius: 50%;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    animation: rotar 60s linear infinite;
    animation-play-state: paused;
}

.circulo-activo {
    animation: rotar 60s linear infinite;
}

.circulo-reinicia {
    animation: initial;
    transform: rotate(-90deg) translateX(160px);
}

  @keyframes rotar {
    from { transform: rotate(-90deg) translateX(160px); }
    to { transform: rotate(270deg) translateX(160px); }
}    
